body {
    background:white;
    margin: 0;
}

#wrapper {
    display:grid;
    grid-template-rows: 70px auto;
    width:400px;
    grid-gap:20px;
    padding:10px;
}

section#page1sec {
    display:grid;
    grid-auto-rows: minmax(245px, 250px);
    grid-auto-flow: row;
    grid-row-gap: 20px;
}

section#page1sec a {
    text-decoration:none;
    overflow:hidden;
}

section#page1sec a article {
    display: grid;
    grid-template-rows: 70px 175px;
    grid-row-gap:5px;
    background-color:pink;
    position: relative;
}

section#page1sec a article h2, section#page1sec a article img {
    display:grid;
    align-content: center;
    justify-content:center;
    
}

article h2 {
    margin:0;
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:white;
}

article img {
    width:100%;
}

header {
    background:lightcoral;
    display:grid;
    overflow:hidden;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    'hd hd hd nv';
    
}

header h1 {
    grid-area:hd;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-self: center;
    align-self: center;
    margin:0;
}

header nav {
    grid-area:nv;
    display:grid;
    align-items: center;
    justify-items: center;
}



article footer {
    position:absolute;
    bottom:0;
    left:0;
    height:50px;
    width:100%;
    background:rgba(200,200,200,0.3);
}

article footer p {
    color:rgb(29, 29, 29);
    margin-left:30px;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    color:white;
    font-size:2em;
    margin:5px;
    
}

div.burgerbox {
    position:absolute;
    width:420px;
    height:40vh;
    background:rgba(0,0,0,0.7);
    z-index: 100;
    left:0;
    top:-40vh;
    transition: 0.5s linear all;
    display:grid;
    grid-auto-columns: 1fr;
}

div.burgerbox a{
    display:grid;
    justify-content: center;
    align-content: center;
    color: white;
    border-bottom: 2px white solid;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    

}

div.visible {
    top:0vh;
    transition: 0.5s linear all;
}

/* LULL-LULL*/

a, header {
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(100,100,100,0.8);
}






